:root {
    --brand-color: #2196F3;
    --brand-color-2: #2F303A;
}

body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: #212121;
}

header {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.19;
}

header>div {
    display: flex;
    align-items: center;
}

.agency-header-border {
    border-bottom: 1px solid #000000;
}

.portfolio-header-border {
    border-bottom: 1px solid #ECECEC;
}

.buttons-portfolio {
    cursor: pointer;
    background-color: #F5F4FA;
    border: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    color: #000000;
    padding: 6px 22px 6px 22px;
    border-radius: 10px;
    margin: 0 4px;
}

.buttons-portfolio:hover {
    color: #FFFFFF;
    background-color: var(--brand-color);
}

.button-main-page {
    cursor: pointer;
    background-color: var(--brand-color);
    border: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    color: #FFFFFF;
    margin-top: 30px;
    padding: 10px 41px 10px 42px;
    border-radius: 10px;
}

.nav-list .nav-link,
.nav-list .link-portfolio,
.nav-list .link-agency {
    color: #212121;
    text-decoration: none;
}

.nav-list .link-portfolio,
.nav-list .link-agency {
    color: var(--brand-color);
}

.nav-list .nav-link:hover,
.nav-list .nav-link:focus,
.nav-list .link-portfolio:hover,
.nav-list .link-portfolio:focus,
.nav-list .link-agency:hover,
.nav-list .link-agency:focus,
.contact-links-header .contact-link-header:hover,
.contact-links-header .contact-link-header:focus,
.contact-links-footer .contact-link-footer:hover,
.contact-links-footer .contact-link-footer:focus {
    color: var(--brand-color);
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: #000000;
}

.logo .blue {
    color: var(--brand-color);
}

.footer-section .logo {
    color: #FFFFFF;
    display: flex;
    margin-bottom: 20px;
}

.contact-links-header .contact-link-header,
.contact-links-footer .contact-link-footer {
    text-decoration: none;
    color: #757575;
}

.contact-links-footer .link-1 {
    margin: 9px 0;
    display: flex;
}

.contact-links-footer .link-2 {
    text-decoration: underline;
    margin: 9px 0;
    display: flex;
}

.order-service {
    background-color: var(--brand-color-2);
    display: flex;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.header-main {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    color: #FFFFFF;
    letter-spacing: 0.06em;
    max-width: 696px;
    margin: 0 auto;
}

.header-secondary {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: #212121;
    text-align: center;
}

.description-section h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;

}

.description-section {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #757575;
    display: flex;
    gap: 30px;
}

.team-section {
    background-color: #F5F4FA;
    height: 648px;
}

.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: #212121;
    padding-bottom: 10px;
}

.job-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #757575;
}

.picture-description {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: #212121;
    padding-top: 20px;
}

.picture-description-secondary {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    color: #757575;
    padding-top: 4px;
    padding-bottom: 20px;
}

.footer-section {
    background-color: var(--brand-color-2);
    color: #FFFFFF;
    text-align: start;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}

.footer-section [href="mailto:info@example.com"],
.footer-section [href="+48111111111"] {
    color: rgba(255, 255, 255, 0.6);
}

address {
    font-style: normal;
}

/* Rozmieszczenie na stronie- jeśli dana klasa nie występowała wcześniej  */
h1,
h2,
h4,
p,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

header>div>.logo {
    padding-bottom: 25px;
    padding-top: 24px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.nav-list {
    display: flex;
    margin-right: 371px;
    margin-left: 93px;
}

.nav-list [href="./portfolio.html"] {
    margin-left: 46px;
    margin-right: 46px;
}

.contact-links-header {
    display: flex;
    padding-inline-start: 0;
}

.contact-links-header [href="tel:+48111111111"] {
    margin-left: 50px;
}

.description-section p {
    padding-top: 10px;
}

.images-agency {
    display: flex;
    gap: 30px;
    padding-top: 50px;
}

.images-team {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
    width: 1170px;
}

.images-team figure {
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.images-team figcaption {
    padding-top: 30px;
    padding-bottom: 30px;
}

.buttons-list {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.images-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
}

.images-portfolio figure {
    margin: 0;
    background: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
}

.no-padding {
    padding-bottom: 0;
}